<template>
    <div class="d-none d-md-block">
    
    <v-container fluid class="gradient-background">
        <div style="padding-left:8vw; padding-right:8vw; margin-top: 0%;">
      <!-- First Row: Centered Button -->
      <v-row justify="center" class="my-4">
        
          <v-button
            style="font-family: 'Plus Jakarta Sans', sans-serif; background-color: #87CEFA; font-size: 10px; color: #0b8189;  line-height: 10.08px; letter-spacing: 10%; border: 1px solid #87CEFA; border-radius: 10px; padding: 5px;"
          >
            Resources
          </v-button>
        
      </v-row>
  
      <!-- Second Row: Big Title -->
      <v-row justify="center" class="my-4">
        <v-col>
          <p class="text-center" style="font-family: 'Plus Jakarta Sans', sans-serif; font-size: 3vw;">
             <b>Stay</b> in the <b>Known</b>.
          </p>
        </v-col>
      </v-row>
  
      <!-- Third Row: 3 Cards -->
      <v-row>
        <v-col v-for="card in cards" :key="card.id" cols="12" md="4">
          <v-card class="px-4 py-6" :style="{ backgroundColor: card.backgroundColor }">
            <!-- First Image -->
            <v-img
              :src="card.image"
              alt="Card Image"
              width="100%"
              height="auto"
              class="mx-auto"
            ></v-img>
  
            <!-- Bold Title -->
            <p class="text-left font-weight-bold mt-4 justify-spacing" style="padding: 2vh;">{{ card.boldTitle }}</p>
  
            <!-- Paragraphs -->
            <p class="text-left justify-spacing" style="margin-bottom: 2vh; padding: 1vh;">{{ card.paragraph1 }}</p>
            <p class="text-left justify-spacing" style="margin-bottom: 2vh; padding: 1vh;">{{ card.paragraph2 }}</p>
  
            <!-- Button -->
            <v-btn
              class="mx-auto mt-4 ho1" 
              style="background-color: #0CBBC7; color: white ;"
            >
              {{ card.buttonText }}
            </v-btn>
          </v-card>
        </v-col>
      </v-row>
      </div>
    </v-container>
</div>
<div class="d-block d-md-none">
    
    <v-container fluid class="gradient-background">
        <div style="padding-left:8vw; padding-right:8vw; margin-top: 0%;">
      <!-- First Row: Centered Button -->
      <v-row justify="center" class="my-4">
        
          <v-button
            style="font-family: 'Plus Jakarta Sans', sans-serif; background-color: #87CEFA; font-size: 5px; color: #0b8189;  line-height: 10.08px; letter-spacing: 10%; border: 1px solid #87CEFA; border-radius: 10px; padding: 5px;"
          >
            Resources
          </v-button>
        
      </v-row>
  
      <!-- Second Row: Big Title -->
      <v-row justify="center" class="my-4">
        <v-col>
          <p class="text-center" style="font-family: 'Plus Jakarta Sans', sans-serif; font-size: 3vw;">
             <b>Stay</b> in the <b>Known</b>.
          </p>
        </v-col>
      </v-row>
  
      <!-- Third Row: 3 Cards -->
      <v-row>
        <v-col v-for="card in cards" :key="card.id" cols="12" md="4">
          <v-card class="px-4 py-2" :style="{ backgroundColor: card.backgroundColor }">
            <!-- First Image -->
            <v-img
              :src="card.image"
              alt="Card Image"
              width="100%"
              height="auto"
              class="mx-auto"
            ></v-img>
  
            <!-- Bold Title -->
            <p class="text-left font-weight-bold mt-4 justify-spacing" style="padding: 2vw;">{{ card.boldTitle }}</p>
  
            <!-- Paragraphs -->
            <p class="text-left justify-spacing" style="margin-bottom: 1vh; padding: 1vh;">{{ card.paragraph1 }}</p>
            <p class="text-left justify-spacing" style="margin-bottom: 1vh; padding: 1vh;">{{ card.paragraph2 }}</p>
  
            <!-- Button -->
            <v-btn
              class="mx-auto mt-1 ho1" 
              style="background-color: #0CBBC7; color: white ;"
            >
              {{ card.buttonText }}
            </v-btn>
          </v-card>
        </v-col>
      </v-row>
      </div>
    </v-container>
</div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        cards: [
          {
            id: 1,
            image: '/images/Rectangle 45.png',
            backgroundColor: 'white',
            boldTitle: 'Excepteur sint occaecant cupidant non prodiant',
            paragraph1: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            paragraph2: 'Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            buttonText: 'Read more',
          },
          {
            id: 2,
            image: '/images/Rectangle 46.png',
            backgroundColor: 'white',
            boldTitle: 'Quis nostrum exercitationem ullam corporis suscipit laboriosam',
            paragraph1: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.',
            paragraph2: 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.',
            buttonText: 'Read more',
          },
          {
            id: 3,
            image: '/images/Rectangle 47.png',
            backgroundColor: 'white',
            boldTitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            paragraph1: 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.',
            paragraph2: 'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.',
            buttonText: 'Read more',
          },
        ],
      };
    },
  };
  </script>
  <style scoped>
  .gradient-background {
    background: linear-gradient(to bottom, white 55%, #87CEFA 45%);
    height: 100%;
  }
  v-button:hover{
    background-color:white ;
    color:#0CBBC7 ;
  }
  
  </style>