<div style="padding: 5vw;padding-left:8vw; padding-right:8vw;"class="d-block d-md-none">
  <v-container fluid>
<!-- Rounded Button Row -->
<v-row justify="center" class="my-4">
  
  <v-button
    style="font-family: 'Plus Jakarta Sans', sans-serif; background-color: #87CEFA; font-size: 10px; color: #0b8189;  line-height: 10.08px; letter-spacing: 10%; border: 1px solid #87CEFA; border-radius: 10px; padding: 5px;"
  >
   BUILT FOR PEOPLE
  </v-button>

</v-row>

<!-- Big Title Row -->
<v-row justify="center" class="my-4">
  <v-col>
      <p class="text-center" style="font-family: 'Plus Jakarta Sans', sans-serif; font-size: 3vw;">
<b>Easy</b> for beginners. <b>Powerful</b> for experts.
    </p>
  </v-col>
</v-row>

<!-- 4 Small Images with Text Row -->
<v-row justify="center" class="mt-4 my-0">
<v-col v-for="(item, index) in imageTextData" :key="index" cols="3" md="1"  >
<v-row  style="margin: 0;">
  <v-img :src="item.image" alt="Small Image" width="15" height="15"></v-img>
  
</v-row>
</v-col>
</v-row>
<div style="background-color: #EDFEFF; margin: 0%;padding: 0%;">


<div >

<!-- Left Side: Create Advanced Research Software -->
<v-row align="center" class="mt-4 md-2" justify="spacing" padding-right="3vw">
  <v-col cols="12" md="6" style="padding:3vw;" >
    <h3 class="plus-jakarta-sans" style="padding-bottom: 2vh;">Create </h3>
    <h5 class="plus-jakarta-sans" style="padding-bottom: 2vh;">Advanced Research Software</h5>
    <p class="plus-jakarta-sans" style="padding-bottom: 3vh; font-size:1vh">
      Ask the right questions and get the answers you need with the most secure and collaborative survey platform on the market featuring powerful logic, sophisticated analytics, and built-in automation and integration.
    </p>
    <v-btn style="background-color: #0CBBC7; font-size:1vh;color: #EDFEFF;" >Get Started for Free</v-btn>
  </v-col>

  <!-- Right Side Image -->
  <v-col cols="12" md="6">
    <v-img src="/images/Screen_lap.png" alt="Right Side Image" width="100%" height="auto"></v-img>
  </v-col>
</v-row>

<!-- Last Row with Background Color -->
</div>
</div>
</v-container>
</div>