<template>
  <div style="padding: 5vw;padding-left:8vw; padding-right:8vw;"class="d-none d-md-block">
    <v-container fluid>
      <!-- Top Middle Title -->
      <v-row justify="center" text-align="center" class="my-4">
        
          <v-button style="font-family: 'Plus Jakarta Sans', sans-serif; background-color: #87CEFA; font-size: 10px; color: #0b8189; text-align: center; line-height: 10.08px; letter-spacing: 10%; border: 1px solid #87CEFA; border-radius: 10px; padding: 5px;">
            AWARDS
          </v-button>
        
      </v-row>

      <!-- Big Title -->
      <v-row justify="center" class="my-4">
        <v-col>
          <p class="text-center" style="font-family: 'Plus Jakarta Sans', sans-serif; font-size: 3vw;"> An <b>award-winning</b> platform, <b>loved by customers</b>.</p>
        </v-col>
      </v-row>

      <!-- 2 Rows with 6 Cards -->
      <v-row>
        <v-col v-for="card in cards" :key="card.id" cols="12" sm="6" md="4" lg="4">
          <v-card align-center justify="center" class="px-4" :style="{ 'padding': '5vw', 'background-color': card.backgroundColor }">
            <v-img
              :src="card.image"
              alt="Card Image"
              height="50%"
              width="50%"
              class="mx-auto"
              style="max-width: 100%; height: 30vh; object-fit: contain;"
            ></v-img>

            <v-card-text class="text-center bold-h1" style="font-family: 'Plus Jakarta Sans', sans-serif; text-size-adjust: 3vw; font-weight: bold;">
              <!-- Title and Year -->
              <div>
                <p>{{ card.cardTitle }}</p>
                <p>{{ card.year }}</p>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <div style="padding: 5vw; padding-left: 8vw; padding-right: 8vw;" class="d-block d-md-none">
  <v-container fluid>
    <!-- Top Middle Title -->
    <v-row justify="center" text-align="center" class="my-4">
      <v-button style="font-family: 'Plus Jakarta Sans', sans-serif; background-color: #87CEFA; font-size: 10px; color: #0b8189; text-align: center; line-height: 10.08px; letter-spacing: 10%; border: 1px solid #87CEFA; border-radius: 10px; padding: 5px;">
        AWARDS
      </v-button>
    </v-row>

    <!-- Big Title -->
    <v-row justify="center" class="my-4">
      <v-col>
        <p class="text-center" style="font-family: 'Plus Jakarta Sans', sans-serif; font-size: 2.5vw;"> An <b>award-winning</b> platform, <b>loved by customers</b>.</p>
      </v-col>
    </v-row>

    <!-- 2 Rows with 6 Cards -->
    <v-row justify="center">
      <v-col v-for="card in cards" :key="card.id" cols="6" sm="2" md="6" lg="4">
        <v-card align-center justify="center" class="px-8" :style="{ 'padding': '2vw', 'background-color': card.backgroundColor }">
          <v-img
            :src="card.image"
            alt="Card Image"
            height="50%"
            width="50%"
            class="mx-auto"
            style="max-width: 50%; height: 7vh; object-fit: contain;"
          ></v-img>

          <v-card-text class="text-center bold-h1" style="font-family: 'Plus Jakarta Sans', sans-serif; font-size: 1vw; font-weight: bold;">
            <!-- Title and Year -->
            <div>
              <p>{{ card.cardTitle }}</p>
              <p>{{ card.year }}</p>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</div>
</template>

<script>
export default {
  data() {
    return {
      cards: [
        {
          id: 1,
          title: 'Card 1',
          subtitle: 'Subtitle 1',
          image: '/images/image 23.png',
          cardTitle: 'Market leader across ',
          year: '18 categories',
          backgroundColor: '#FFF5F3',
        },
        {
          id: 2,
          title: 'Card 2',
          subtitle: 'Subtitle 2',
          image: '/images/image 26.png',
          cardTitle: 'Most loved SaaS tool',
          year: 'in 2021',
          backgroundColor: '#FFF0F9',
        },
        {
          id: 3,
          title: 'Card 3',
          subtitle: 'Subtitle 3',
          image: '/images/image 27.png',
          cardTitle: 'Category leader in',
          year: '2022',
          backgroundColor: '#ECFFFF',
        },
        {
          id: 4,
          title: 'Card 4',
          subtitle: 'Subtitle 4',
          image: '/images/image 31.png',
          cardTitle: 'Most recommended',
          year: 'tool in 2021',
          backgroundColor: '#F6F4FF',
        },
        {
          id: 5,
          title: 'Card 5',
          subtitle: 'Subtitle 5',
          image: '/images/image 32.png',
          cardTitle: 'Champion in survey',
          year: 'tool in 2022',
          backgroundColor: '#FFF9E7',
        },
        {
          id: 6,
          title: 'Card 6',
          subtitle: 'Subtitle 6',
          image: '/images/v1.png',
          cardTitle: 'Top performer spring',
          year: '2021',
          backgroundColor: '#FFEDE4',
        },
        // Add more card objects as needed
      ],
    };
  },
};
</script>
