<template>
  <div style="margin:0%">
    <v-container fluid class="w-100 mx-4 py-4">
      <!-- Top Image -->
      <v-img
        src="/images/Frame 88.png" 
        alt="Top Image"
        style="width: 100vw; max-width: 100%; height: auto; margin:0%; object-fit:cover; "
      ></v-img>

      <!-- "Our Customers" Text -->
      <div >
        <p style="font-family: 'Plus Jakarta Sans', sans-serif; font-size: 1vw; color: #0CBBC7; text-align: center; margin-top: 20px;">
          Our Customers
        </p>
        <p style="font-family: 'Plus Jakarta Sans', sans-serif; font-size: 3vw; text-align: center; margin: 20px;">
          Trusted by <b>100,000+ customers</b> in 90+ countries.
        </p>

        
      </div>
      
      <v-row justify="center" margin-top="20px">
        <v-col cols="auto">
          <v-img
            src="/images/Group 9.png" 
            alt="Image 1"
            style="width: 150vw; max-width: 100%; height: auto;"
          ></v-img>
        </v-col>
      </v-row>

      <!-- Second Image Row -->
      <v-row justify="center" margin-top="20px">
        <v-col cols="auto">
          <v-img
            src="/images/Group 8.png" 
            alt="Image 2"
            style="width: 50vw; max-width: 100%; height: auto;"
          ></v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
