<template>
  <div class="footer-container d-none d-md-block" >
    <v-container fluid>
      <v-row>
        <!-- First Column: Logo and Text -->
        <v-col cols="12" md="6" class="text-center" justify="center">
          <v-img
            src="/images/Mask group.png"
            alt="Logo"
            width="100"
            height="300"
            class="mx-auto"
          ></v-img>
          <h5 class="white--text absolute-text1">Made with lots of ❤️ in San Francisco</h5>
        </v-col>

        <!-- Second Column: Products -->
        <v-col cols="12" md="2" class="white--text">
          <h3>Products</h3>
          <ul>
            <li>Delta</li>
            <li>Sigma</li>
            <li>Zeta</li>
            <li>Alpha</li>
            <li>Acumen</li>
          </ul>
        </v-col>

        <!-- Third Column: Resources -->
        <v-col cols="12" md="2" class="white--text">
          <h3>Resources</h3>
          <ul>
            
            <li>Help</li>
            <li>Training Videos</li>
            <li>Webinars</li>
            <li>Request a Demo</li>
            <li>Create a Surveys</li>
            <li>QuizMaker</li>
          </ul>
        </v-col>

        <!-- Fourth Column: Company -->
        <v-col cols="12" md="2" class="white--text">
          <h3>Company</h3>
          <ul>
            <li>About Us</li>
            <li>Careers</li>
            <li>Team</li>
            <li>Contact Us</li>
          </ul>
        </v-col>
      </v-row>
      <div margin-top="10vw">

      <!-- Copyright, Image, and Privacy Info -->
      <v-row class="mt-8" >
        <!-- Copyright Info -->
        <v-col cols="12" md="4" class="white--text text-center">
          <p>&copy; 2024 Your Company. All rights reserved.</p>
        </v-col>

        <!-- Middle Image -->
        <v-col cols="12" md="2" class="text-center">
          <v-img
            src="/images/Group 126.png"
            alt="Copyright Image"
            width="100"
            height="30"
            class="mx-auto"
          ></v-img>
        </v-col>

        <!-- Right-side Links -->
        <v-col cols="12" md="6" class="white--text text-center " >
          <p>Privacy Policy | Data Security | Terms and Services | Data & Security</p>
        </v-col>
      
      </v-row>
    </div>
    </v-container>
  </div>
  <div class="d-block d-md-none pa-0">
    <v-expansion-panels v-model="panel" class="pa-0 ma-0 bg-black">
      <v-expansion-panel
        v-for="(panelItem, index) in panelItems"
        :key="index"
        class="my-0 bg-black"
        append-icon="arrow_drop_down"
        :title="panelItem.title"
        :text="panelItem.text"
      >
        <!-- <template v-slot:default>
          <div class="pa-4">
            {{ panelItem.text }}
          </div>
        </template> -->
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
  <div class="footer-container d-block d-md-none" >
    <v-container fluid>
      <v-row>
        <!-- First Column: Logo and Text -->
        <v-col cols="12" md="6" class="text-center" justify="center">
          <v-img
            src="/images/Mask group.png"
            alt="Logo"
            width="100"
            height="100"
            class="mx-auto"
          ></v-img>
          <h5 class="white--text absolute-text">Made with lots of ❤️ in San Francisco</h5>
        </v-col>

        
      </v-row>
      <div margin-top="10vw">

      <!-- Copyright, Image, and Privacy Info -->
      <v-row class="mt-8" >
        <!-- Copyright Info -->
        <v-col cols="12" md="4" class="white--text text-center">
          <p>&copy; 2024 Your Company. All rights reserved.</p>
        </v-col>

        <!-- Middle Image -->
        <v-col cols="12" md="2" class="text-center">
          <v-img
            src="/images/Group 126.png"
            alt="Copyright Image"
            width="100"
            height="30"
            class="mx-auto"
          ></v-img>
        </v-col>

        <!-- Right-side Links -->
        <v-col cols="12" md="6" class="white--text text-center " >
          <p>Privacy Policy | Data Security | Terms and Services | Data & Security</p>
        </v-col>
      
      </v-row>
    </div>
    </v-container>
  </div>
</template>

<script setup>
import { ref } from "vue";
const panel = ref(null);
const panelItems = ref([
  {
    title: "PRODUCT",
    text: "Here is some information products...",
  },
  {
    title: "RESOURCE",
    text: "Here are the different resources...",
  },
  {
    title: "COMPANY",
    text: "Here are some info about company...",
  },
 
]);
</script>

<style scoped>
.footer-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.footer-container h3 {
  margin-bottom: 10px;
}

.absolute-text {
  
  bottom: 50vh;
  transform: translateX(-30%);
  transform: translateY(-190%);
  margin: 0;
  padding: 5px;
}

.absolute-text1 {
  
  bottom: 50vh;
  transform: translateX(-30%);
  transform: translateY(-580%);
  margin: 0;
  padding: 5px;
}


.footer-container ul {
  list-style-type: none;
  padding: 0;
}
h3{
  padding-bottom:2vh;
}

.footer-container li {
  margin-bottom: 5px;
}

.footer-container p {
  margin: 0;
}

.footer-container img {
  max-width: 100%;
  height: auto;
}
p{
  color: 
#9B9B9B;
font-size:1vw;
}
li {
  color: 
#9B9B9B;
  padding-top:2vh;
  font-size:1vw;
}
h3{
  color:#FFFFFF;
  
}
</style>
