<template>
  <div class="d-none d-md-block"  >
    <!-- Large Window Container -->
    <v-container fluid class="w-100 mx-4 py-4 d-flex"  >
      <v-row align="center" class="text-center "  >
        <v-col></v-col>
        <v-col cols="6" md="1">
          <p class="text-xs-center hy">Features</p>
        </v-col>
        <v-col cols="6" md="1">
          <p class="text-xs-center hy">Pricing</p>
        </v-col>
        <v-col cols="6" md="1" class="text-left">
          <p class="text-xs-center hy">Testimonials</p>
        </v-col>
        <v-col cols="6" md="1" style="padding: 2vw">
          <p class="text-xs-center hy">Resources</p>
        </v-col>
        <v-col cols="6" md="2">
          <v-row style="padding: 10px; align-items: center;">
            <v-img
              src="/images/Group 127.png"
              alt="Circle Image"
              class="mx-auto"
              style="width: 100%; max-width: 106px; height: auto; max-height: 50px; margin-right: 10px;"
            ></v-img>
          </v-row>
        </v-col>
        <v-col cols="6" md="1">
          <p class="text-xs-center hy">Company</p>
        </v-col>
        <v-col cols="6" md="1">
          <p class="text-xs-center hy">Contact</p>
        </v-col>
        <v-col cols="6" md="2">
          <div >
            <v-btn   style="color: #0CBBC7;border: 1px solid #0CBBC7; font-family:'Plus Jakarta Sans', sans-serif;font-size:2.5vh; padding-left:8vh;padding-right:8vh;">
              Login
            </v-btn>
          </div>
        </v-col>
        <v-col></v-col>
      </v-row>
    </v-container>
    
  </div>
  <div class="d-block d-md-none">
  <v-container fluid class="w-100 mx-1 py-2 ">
    <v-row align="center" class="text-center">
      <!-- Features -->
      <v-col cols="auto">
        <p class="text-xs hy1">Features</p>
      </v-col>

      <!-- Pricing -->
      <v-col cols="auto">
        <p class="text-xs hy1">Pricing</p>
      </v-col>

      <!-- Testimonials -->
      <v-col cols="auto">
        <p class="text-xs hy1">Testimonials</p>
      </v-col>

      <!-- Resources -->
      <v-col cols="auto">
        <p class="text-xs hy1">Resources</p>
      </v-col>

      <!-- Logo -->
      <v-col cols="2" md="2">
        <v-row style="padding:5px; align-items: center;">
          <v-img
            src="/images/Group 127.png"
            alt="Circle Image"
            class="mx-auto"
            style="width: 50%; max-width: 50px; height: auto; max-height: 50%; "
          ></v-img>
        </v-row>
      </v-col>

      <!-- Company -->
      <v-col cols="auto">
        <p class=" hy1">Company</p>
      </v-col>

      <!-- Contact -->
      <v-col cols="auto">
        <p class=" hy1">Contact</p>
      </v-col>

      <!-- Login Button -->
      <!--<v-col cols="1">
        
          <v-btn style="color: #0CBBC7; font-size:0.5vh; padding:0%;  font-family: 'Plus Jakarta Sans', sans-serif;">
            Login
          </v-btn>
        
      </v-col>-->
      <v-col cols="auto" >
        <div style="border:1px solid #0CBBC7">
        <p class=" hy1" style="color: #0CBBC7; font-size:0.5vh; padding:0%; padding:0.5vh; font-family: 'Plus Jakarta Sans', sans-serif;">Login</p>
        </div>
      </v-col>

    </v-row>
  </v-container>
</div>
  </template>
  <style scoped>
  .hy{
    font-family: 'Plus Jakarta Sans', sans-serif;
    
  }
  .hy1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:0.5vh;

  }
  </style>