<template>
    <div style="padding-left: 8vw; padding-right: 8vw; margin-top: 0%; font-family: 'Plus Jakarta Sans', sans-serif;" class="d-none d-md-block">
      <v-container fluid>
        <!-- Single Row Split into Three Parts -->
        <v-row class="my-4">
          <!-- First Part: Rounded Button and Big Text -->
          <v-col cols="12" md="4" align-self="center">
            <v-button
          style="font-family: 'Plus Jakarta Sans', sans-serif; background-color: #87CEFA; font-size: 10px; color: #0b8189;  line-height: 10.08px; letter-spacing: 10%; border: 1px solid #87CEFA; border-radius: 10px; padding: 5px;"
        >
         TESTIMONIALS
        </v-button>
            <h2 class="text-left big-text">See how <br>customers<br> <b>drive impact</b></h2>
            <v-btn
                
                style="background-color: #0CBBC7; color: white; margin-top: 4vh; padding: 1vh 2vw; font-size: 1vw;"
              >
               See case studies
              </v-btn>
          </v-col>
  
          <!-- Second Part: Image and Small Image -->
          <v-col cols="12" md="4" class="center">
            <v-img src="/images/Rectangle 43.png" alt="Main Image" fluid class="main-image"></v-img>
            <v-icon class="center small-image" justify="center">
                mdi-arrow-right-drop-circle
            </v-icon>
          </v-col>

  
          <!-- Third Part: Card with Image, Paragraph, and Icons -->
          <v-col cols="12" md="4">
            <div style="float:inline-end;">
                <v-icon class="icon1">mdi-arrow-left-bold-circle</v-icon>
            <v-icon class="icon" >mdi-arrow-right-bold-circle</v-icon>
            
        </div>
        
            <v-card class="cardx mx-auto center  " justify="center" >
              <v-img src="/images/image 22.png" alt="Card Image" class="card-image" ></v-img>
              <v-card-text>
                <p class="text-left" style="font-size: 16px; margin: 3vh; ">
                  "I used to have a bunch of different tools I had to pay for, with Circle you get everything in one bundle."
                </p>
                <p class="text-left" style="font-size: 16px; margin: 3vh;"><b>Michel Dedrick</b><br/>Senior Conversion Optimizer</p>
              </v-card-text>
            </v-card>
           
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div style="padding-left: 8vw; padding-right: 8vw; margin-top: 0%; font-family: 'Plus Jakarta Sans', sans-serif;" class="d-block d-md-none">
      <v-container fluid>
        <!-- Single Row Split into Three Parts -->
        <v-row class="my-4">
          <!-- First Part: Rounded Button and Big Text -->
          <v-col cols="12" md="4" align-self="center">
            <v-col cols="12" md="4">
            <div style="float:inline-end;">
                <v-icon class="icon1">mdi-arrow-left-bold-circle</v-icon>
            <v-icon class="icon" >mdi-arrow-right-bold-circle</v-icon>
            
        </div>
            <v-button
          style="font-family: 'Plus Jakarta Sans', sans-serif; background-color: #87CEFA; font-size: 5px; color: #0b8189;  line-height: 10.08px; letter-spacing: 10%; border: 1px solid #87CEFA; border-radius: 10px; padding: 5px;"
        >
         TESTIMONIALS
        </v-button>
            <h2 class="text-left big-text">See how <br>customers<br> <b>drive impact</b></h2>
            <v-btn
                
                style="background-color: #0CBBC7; color: white; margin-top: 4vh; padding: 1vh 2vw; font-size: 1vw;"
              >
               See case studies
              </v-btn>
          </v-col>
  
          <!-- Second Part: Image and Small Image -->
          <v-col cols="12" md="4" class="center">
            <v-img src="/images/Rectangle 43.png" alt="Main Image"  class="main-image"></v-img>
            <v-icon class="center small-img" justify="center">
                mdi-arrow-right-drop-circle
            </v-icon>
          </v-col>

  
          <!-- Third Part: Card with Image, Paragraph, and Icons -->
         
        <div margin="0%" padding="2vw">
            <v-card class="card1 mx-auto center  " justify="center" margin="0%" >
              <v-img src="/images/image 22.png" alt="Card Image" class="card-image1" ></v-img>
              <v-card-text>
                <p class="text-left" style="font-size: 10px; margin: 3vh; ">
                  "I used to have a bunch of different tools I had to pay for, with Circle you get everything in one bundle."
                </p>
                <p class="text-left" style="font-size: 10px; margin: 3vh;"><b>Michel Dedrick</b><br/>Senior Conversion Optimizer</p>
              </v-card-text>
            </v-card>
        </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </template>
  <script>
  export default {
    // Add component logic here
  };
  </script>
  
  <style scoped>
  .rounded-button {
    background-color: #0CBBC7;
    color: white;
  }
  
  .big-text {
    font-size: 2em;
    margin-top: 10px;
  }
  
  .main-image {
    width: 100%;
    height: auto;
  }
  .small-img{
    font-size: 10dvh;
   align-items: center;
   transform: translateY( -250%);
   margin-left: 22vw;
   
    color: #0CBBC7;

  }.card1 {
    
    
    align-items: center;
    width:80%;
    height:50%;
    margin-left:3vh;
    margin-right:3vh;
    transform:translateY(-10%);
    background-color: #EDFEFF;
  }
  
  .small-image {
   font-size: 18dvh;
   align-items: center;
   transform: translateY( -250%);
   margin-left: 7vw;
   
    color: #0CBBC7;
  }
  
  .cardx {
    margin-top: 20vh;
    height: 51vh;
    width: 35vw;
    align-items: center;
    transform: translateX(-18%);
    margin-left:3vh;
    margin-right:3vh;
    background-color: #EDFEFF;
  }
  .card-image1 {
    width: 18vh;
    height: 7vh;
    padding: 3vh;
    
    margin-left: 4vh;
    
    
  }
  
  .card-image {
    width: 20vh;
    height: auto;
    padding: 2vh;
    margin-left: 4vh;
    margin-top: 4vh;
    
  }
  
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .icon-row {
    margin-top: 10px;
  }
  
  .icon {
    
    font-size: 28px;
    color: #0CBBC7;
  }
  .icon1 {
    
    font-size: 28px;
    color: #a8dde1;
  }
  </style>
