<template>
    
      <!-- Container Wrapper with Padding -->
      <div style="padding-left:8vw; padding-right:8vw; margin-top: 0%;" class="d-none d-md-block" >
  
        <!-- Single Container -->
        <v-container fluid class="w-100 mx-4 py-4 d-flex align-center position-relative">
          <v-row  style="color: white;">
  
            <!-- Left Column -->
            <v-col cols="12" md="6" class="position-relative " align-self="center" margin-right="5vh" >
              <!-- Small Text "OUR PROMISE" -->
              <!-- Small Text "OUR PROMISE" -->


  
              <!-- Big Title "TOOL BUILT FOR PEOPLE" -->
              <p class="text-left text-uppercase" style="font-family: 'Plus Jakarta Sans', sans-serif;text-align: left; color: black; font-size: 2vw; margin-bottom:1vh; margin-top: 0%;">
                Looking for a <b>solution</b> <br>for your business? 
              </p>
  
              <!-- Two Paragraphs -->
              
              <p class="text-left" style="font-family: 'Plus Jakarta Sans', sans-serif; color: black; font-size: 1vw;padding-top: 2vh; margin-bottom:3vh">
                With stellar one-click reports and unmatched support, see how Circle will make a difference in your business.
              </p>
  
              <!-- Button "Get Started Free" -->
              <v-row align-items="center">
                
              <v-btn
                
                style="background-color: #0CBBC7; color: white; margin-top: 4vh; padding: 1vh 2vw; font-size: 1vw;"
              >
               Learn more
              </v-btn>
            
              <v-col class="text-center " margin-right="10vw">
            <p style="border: 1px solid #000607; color: #0CBBC7;  padding: 5px; margin:2vh;">Schedule a consultation</p>
        </v-col>
              </v-row>
            </v-col>
  
            <!-- Right Column -->
            <v-col cols="12" md="6">
              <!-- Image -->
              <v-img
                src="/images/laptop.png"
                alt="Right Container Image"
                style="width: 100%; max-width: 100%; height: auto; "
              ></v-img>
            </v-col>
  
          </v-row>
        </v-container>
  
      </div>

      <div style="padding-left:8vw; padding-right:8vw; margin-top: 0%;" class="d-block d-md-none" >
  
  <!-- Single Container -->
  <v-container fluid class="w-100 mx-4 py-4 d-flex align-center position-relative">
    <v-row  style="color: white;">

      <!-- Left Column -->
      <v-col cols="12" md="6" class="position-relative " align-self="center" margin-right="5vh" >
        <!-- Small Text "OUR PROMISE" -->
        <!-- Small Text "OUR PROMISE" -->



        <!-- Big Title "TOOL BUILT FOR PEOPLE" -->
        <p class="text-center text-uppercase" style="font-family: 'Plus Jakarta Sans', sans-serif;text-align: left; color: black; font-size: 3vw;  margin-top: 2vh;">
          Looking for a <b>solution</b> <br>for your business? 
        </p>

        <!-- Two Paragraphs -->
        
        <p class="text-center" style="font-family: 'Plus Jakarta Sans', sans-serif; color: black; font-size: 2vw;padding-top: 2vh;padding:1vh">
          With stellar one-click reports and unmatched support, see how Circle will make a difference in your business.
        </p>

        <!-- Button "Get Started Free" -->
        <v-row align-items="center">
          
        <v-btn
          
          style="background-color: #0CBBC7; margin-left:6vw;color: white; margin-top: 2vh; padding: 1vh; font-size: 2vw;"
        >
         Learn more
        </v-btn>
      
        <v-col  cols="8" md="3" class="text-center " margin-right="10vw">
      <p style="border: 1px solid #000607; color: #0CBBC7; font-size:3vw; padding: 4px; margin:1vh;">Schedule a consultation</p>
  </v-col>
        </v-row>
      </v-col>

      <!-- Right Column -->
      <v-col cols="12" md="6">
        <!-- Image -->
        <v-img
          src="/images/laptop.png"
          alt="Right Container Image"
          style="width: 100%; max-width: 100%; height: auto; "
        ></v-img>
      </v-col>

    </v-row>
  </v-container>

</div>
    
  </template>
  
  
 
  