<template>
    <div>
      <!-- Container Wrapper with Padding -->
      <div style="padding: 3vw; padding-left:8vw; padding-right:8vw;" class="d-none d-md-block">
  
        <!-- Single Container -->
        <v-container fluid class="w-100 mx-4 py-4 d-flex align-center position-relative d-none d-md-block">
          <v-row  style="color: white;">
  
            <!-- Left Column -->
            <v-col cols="12" md="6" class="position-relative" margin-top="5vh" >
              <!-- Small Text "OUR PROMISE" -->
              <!-- Small Text "OUR PROMISE" -->
<v-button style="font-family: 'Plus Jakarta Sans', sans-serif;background-color: #87CEFA; font-size: 1vw; color: #0b8189; margin-top: 10vh; text-align: center; line-height: 10.08px; letter-spacing: 10%; border: 1px solid #87CEFA; border-radius: 10px; padding: 5px;">
  OUR PROMISE
</v-button>

  
              <!-- Big Title "TOOL BUILT FOR PEOPLE" -->
              <h1 class="text-left text-uppercase" style="font-family: 'Plus Jakarta Sans', sans-serif;text-align: left; color: black; font-size: 2vw; font-weight: bold; margin-top: 2vh;">
                TOOL BUILT FOR PEOPLE
              </h1>
  
              <!-- Two Paragraphs -->
              <p class="text-left" style="font-family: 'Plus Jakarta Sans', sans-serif; color: black; font-size: 1vw;padding-top: 2vh; 
              ">
                A powerful online engagement tool that’s intuitive and simple to use.
              </p>
              <p class="text-left" style="font-family: 'Plus Jakarta Sans', sans-serif; color: black; font-size: 1vw;padding-top: 2vh;">
                With stellar one-click reports and unmatched support, see how Circle will make a difference in your business.
              </p>
  
              <!-- Button "Get Started Free" -->
              <v-btn
                class="mx-auto"
                style="background-color: #0CBBC7; color: white; margin-top: 4vh; padding: 1vh 1vw; font-size: 1vw;"
              >
                Get Started Free
              </v-btn>
            </v-col>
  
            <!-- Right Column -->
            <v-col cols="12" md="6" >
              <!-- Image -->
              <v-img
                src="/images/rect.png"
                alt="Right Container Image"
                style="width: 100%; max-width: 100%; height: auto; border-radius: 10px;"
              ></v-img>
            </v-col>
  
          </v-row>
        </v-container >
        
      </div>
      <div style="padding: 3vw; padding-left:8vw; padding-right:8vw;" class="d-block d-md-none">
  
  <!-- Single Container -->
  <v-container fluid class="w-100 mx-4 py-4 d-flex align-center  ">
    <v-row  style="color: white;"  >

      <!-- Left Column -->
      
        <!-- Small Text "OUR PROMISE" -->
        <!-- Small Text "OUR PROMISE" -->
        <v-button class="mx-auto" style="font-family: 'Plus Jakarta Sans', sans-serif; background-color: #87CEFA; font-size: 1vh; color: #0b8189; text-align: center; line-height: 10.08px; letter-spacing: 10%; border: 1px solid #87CEFA; border-radius: 10px; padding: 5px;">
            OUR PROMISES
          </v-button>
        <v-col cols="12" md="6" class="justify-center" padding="1vw">


        <!-- Big Title "TOOL BUILT FOR PEOPLE" -->
        <h1 class="text-center text-uppercase" style="font-family: 'Plus Jakarta Sans', sans-serif;text-align: left; color: black; font-size: 2vw; font-weight: bold; margin-top: 2vh;">
          TOOL BUILT FOR PEOPLE
        </h1>

        <!-- Two Paragraphs -->
        <p class="text-center" style="font-family: 'Plus Jakarta Sans', sans-serif; color: black; font-size: 2vw;padding: 1vh; 
        ">
          A powerful online engagement tool that’s intuitive and simple to use.
        </p>
        <p class="text-center" style="font-family: 'Plus Jakarta Sans', sans-serif; color: black; font-size: 2vw;padding: 1vh;">
          With stellar one-click reports and unmatched support, see how Circle will make a difference in your business.
        </p>
      </v-col>

        <!-- Button "Get Started Free" -->
        <v-btn
          class="mx-auto"
          style="background-color: #0CBBC7; color: white; font-size: 1vw;"
        >
          Get Started Free
        </v-btn>
      

      <!-- Right Column -->
      <v-col cols="12" md="6" >
        <!-- Image -->
        <v-img
          src="/images/rect.png"
          alt="Right Container Image"
          style="width: 100%; max-width: 100%; height: auto; border-radius: 5px;"
        ></v-img>
      </v-col>

    </v-row>
  </v-container >
  

</div>
    </div>
  </template>
  
  
 
  