<template>
    <v-app id="inspire" class="w-100">
        <NavBar />
        <slot />
       
        <FooterMain/>
      
    </v-app>
</template>

<!-- <script setup>
import { NavBar } from "#build/components";
import { ref, onMounted, onUnmounted } from "vue";

const drawer = ref(false);
const isMobile = ref(false);

onMounted(() => {
    window.addEventListener("resize", onResize);
    onResize();
});

onUnmounted(() => {
    window.removeEventListener("resize", onResize);
});

function onResize() {
    isMobile.value = window.innerWidth <= 1280;
}
</script> -->
